@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #001c22;
}
a{
    text-transform: capitalize;
}
h1{
    font-size: 3rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 50px;
    margin-bottom: 30px;
}
h2{
    text-transform: capitalize;
}

/* Header */

header{
    background-image: url('../images/bg-hero-desktop.svg');
    background-color: #edfbfe;
    padding: 3vw 5vw;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    background-color: white;
    color: black;
    font-weight: 700;
    padding: 1vw 4vw;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
}
.community{
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.community img{
    width: 700px;
}
.txt{
    width: 600px;
    margin-right: 60px;
}
.txt p{
    line-height: 25px;
    margin-bottom: 50px
}
.txt a{
    color: white;
    font-weight: 700;
    background-color: #fe52c0;
    padding: 1vw 4vw;
    border-radius: 30px;
}

/* Container */

.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    padding: 30px 30px 30px 70px;
}
.box img{
    width: 30vw;
}
.box h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.box p{
    color: #8f969c;
    width: 450px;
    line-height: 25px;
    margin-top: 25px;
}

/* community */

.reg{
    background-color: white;
    padding: 50px 100px;
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px -1px 12px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.reg h2{
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.reg a{
    background-color: #fe52c0;
    padding: 20px 50px;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 10px 12px 0px rgba(215,221,221,0.75);
}
/* footer */
footer{
    background-color: #00252e;
    color: white;
    padding: 10vw 4vw 3vw 3vw;
    position: relative;
    margin-top: 200px;
}
.foot{
    display: flex;
    width: 1200px;
}
.fa-brands{
    color: white;
}
.menu a{
    color: white;
}
.soc a{
    color: white;
}
.foot-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.foot-img{
    max-width: 1200px;
    margin: 0 auto;
}
.copy{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.loc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.loc p{
    width: 350px;
    margin-left: 20px;
    line-height: 25px;
}
.phone{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.phone a{
    color: white;
    margin-left: 20px;
}
.mail{
    display: flex;
    align-items: center;
}
.mail p{
    margin-left: 20px;
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 25px;
    padding-left: 50px ;
}
.left, .right{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}
.soc{
    display: flex;
    margin-top: 35px;
    margin-left: 100px;
    justify-content: space-around;
    width: 100px;
}
.soc a{
    border: 1px solid white;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-facebook-f{
    padding: 0 3px;
}
.copy{
    margin-top: 50px;
}

/* Hovers */

.logo a:hover{
    color: #848e98;
    transition-duration: 0.5s;
}
.txt a:hover, .reg a:hover{
    background-color: #ff99db;
    transition-duration: 0.5s;
}
.left a:hover, .right a:hover{
    text-decoration: underline;
    transition-duration: 0.5s;
}
.soc a:hover{
    color: #fd54b9 ;
    transition-duration: 0.5s;
    border: 1px solid #fd54b9;
}


/* Medua Query */

@media only screen and (max-width: 375px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .header, .community{
        width: 375px;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .logo img{
        width: 120px;
    }
    .logo a{
        font-size: 0.8rem;
        padding: 5px 20px;
    }
    .txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }
    .txt h1{
        font-size: 1.5rem;
        text-align: center;
        line-height: 25px;
        width: 300px;
        font-weight: 700;
    }
    .txt p{
        width: 300px;
        text-align: center;
    }
    .txt a{
        font-size: 0.7rem;
        padding: 10px 50px;
    }
    .community{
        flex-direction: column;
    }
    .community img{
        width: 300px;
        margin-top: 30px;
    }
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: c;
    }

    .box{
        flex-direction: column-reverse;
        padding: 0;
    }
    .box h2{
        text-align: center;
    }
    .box p{
        width: 250px;
        margin: 30px;
        text-align: center;
        font-size: 0.8rem;
        line-height: 20px;
    }
    .box img{
        width: 150px;
        margin-top: 30px;
    }
    .foot{
        width: 375px;
    }
    .reg{
        padding: 0;
        width: 300px;
        height: 150px;
        text-align: center;
    }
    .reg h2{
        font-size: 1rem;
        width: 100%;
    }
    .reg a{
        padding: 10px 30px;

    }
    .foot{
        width: 375px;
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        margin: 30px 0 30px 10px;
        padding: 0;
    }
    .soc{
        margin: 0 auto;
    }
    .copy{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        margin-bottom: 30px;
    }
    .loc, .foot-img img, .phone, .mail{
        margin-left: 10px;
    }

}